body,
html,
* {
    box-sizing: border-box;

    padding: 0;
    margin: 0;
    outline: none;
    overflow: hidden;


    /* Ayuda momentanea*/


    /* border: solid 2px red; */

    list-style: none;
    text-decoration: none;
    color: #f2f2f2;
    font-size: 16pt;

    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}

body {
    background-color: #13141A;
}

.textura {
    position: absolute;
    width: 100%;
    mix-blend-mode: overlay;
    opacity: 0.3;
    z-index: 0;
}


.container-nav {
    margin: 1vh;
    padding: 1%;
    width:  29.48vh;
    height: 98vh;
    position: fixed;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at left 10px, rgba(242, 242, 242, 0.40), transparent),
                radial-gradient(ellipse at bottom, rgba(242, 242, 242, 0), transparent);
    backdrop-filter: blur ( 4px );
    border: double 1px rgba(242, 242, 242, .4);
    border-radius: 40px;
}

.navbar {
    display: flex;
    flex-direction: column;
    padding: 1%;
    justify-content:center ;
    align-items: flex-start;

}


.navbar input {
    width: 100%;
    border-radius: 10px;
    padding: 0px 6px 6px 6px;
    margin-bottom: 40px;
    margin-top: 0 !important;
    margin-right: 16px;
    font-size: 17px;
    opacity: 0.3;
    mix-blend-mode: overlay;
}

.navbar input[type=text] {
    text-align: center;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 16pt;
    color: rgba(0, 0, 0, .5);
}


.menu {
    display: flex;
    flex-direction: row;
    position: relative;
    
}

.menu ul {
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
}

.menu li {
    display: flex;
    text-align: center;
    transition: all 0.3s ease-in;
    opacity: 0.6;
}

.menu li:hover {
    opacity: 1;
}

.menu li a{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 10px;
    text-align: right;
    justify-content: center;
}

.menu li a span {
    font-size: 18px;
    font-weight: 400;
}

.menu ul li img {
    width: 24px;
}

.playlist span {
    font-size: 14pt;
}

.playlist {
     opacity: 0.3;
     transition: all 0.3s ease-in;
}

.playlist:hover {
    opacity: 0.8;
}